<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Quality Worldwide</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquiery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='styles.css')}} ">
</head>
<body><br>
	<br><h4>Current Air Quality and Weather for Cities Worldwide</h4><br><br>
    <form method="POST" action="/data">
    <p><b>Enter city name: </b><input type="text" name="city_choice"></p>
    <input type="submit" align="right"></form><br>
    <a href="http://www.air-aware.com/">Return to homepage</a>
</body>
</html>