<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Quality Worldwide</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquiery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='styles.css')}} ">
    <link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlfoZ6LhsOaLRMiqauc0lmRMjmm3k_XU8&callback=initMap"></script>
    <script type="text/javascript">

    function updateMap(selectControl)   {
  ;
        switch(selectControl)
        {

    case 'site1':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
});
      var latLng = new google.maps.LatLng(51.441355,0.14861)
      break;
    case 'site2':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.552656,-0.248774
)
      break;
    case 'site3':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.522287
,-0.125848

)
      break;
          case 'site4':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.527706,-0.1290532

)
      break;
          case 'site5':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.5202252
,-0.096106
)
      break;
          case 'site6':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.373953
,-0.0967638
)
      break;
          case 'site7':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.51894,
-0.265652052386

)
      break;
          case 'site8':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.472504
,-0.012381

)
      break;
          case 'site9':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.49019756 ,-0.190863311
)
      break;
          case 'site10':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.521046747604,-0.213492139585

)
      break;
          case 'site11':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.474954000000,-0.039641

)
      break;
          case 'site12':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.514727,0.014554
)
      break;
          case 'site13':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.425256036094,-0.345608290873
)
      break;
          case 'site14':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.3586596125,-0.149723946605
)
      break;
          case 'site15':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.515046167401,-0.008418492656
)
      break;
          case 'site16':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.465032505912, -0.215824580948
)
      break;
          case 'site17':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.52254,-0.15459
)
      break;
          case 'site18':
      var polyline = new google.maps.Polyline({
  path: [
  new google.maps.LatLng(51.408664,0.114405),
  new google.maps.LatLng(51.412973,0.114973),
  new google.maps.LatLng(51.417979,0.097195),
  new google.maps.LatLng(51.421214,0.023720)],
  strokeColor: "#FF0000",
  strokeOpacity: 1.0,
  strokeWeight: 2
  });
      var latLng = new google.maps.LatLng(51.513928740421,-0.152792701882)
    break;
    default:
      break;
    }
    initialize(polyline, latLng);
    }
    function initialize(polyline, schoolLatLng) {
        var myLatLng = schoolLatLng;
        var myOptions = {
          zoom: 14,
          center: myLatLng,
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
       var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
       polyline.setMap(map);      }
    //end
    </script>
</head>
<body onload="initialize()">
    <br><h2 class=left>Live air pollution charts for London</h2><br>
    <h4 class=left>&nbsp&nbspSelect a 24 hour chart:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Select a timeframe:</h4>
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-4"><br><ul>
        <a href="{{ url_for('charts.make_chart', site='BX2', days=1) }}">Bexley - Belvedere</a><br>
        <a href="{{ url_for('charts.make_chart', site='BT5', days=1) }}">Brent - Neasden Lane</a><br>
        <a href="{{ url_for('charts.make_chart', site='BL0', days=1) }}">Camden - Bloomsbury</a><br>
        <a href="{{ url_for('charts.make_chart', site='CD9', days=1) }}">Camden - Euston Road</a><br>
        <a href="{{ url_for('charts.make_chart', site='CT4', days=1) }}">City of London - Beech Street</a><br>
        <a href="{{ url_for('charts.make_chart', site='CR9', days=1) }}">Croydon - Park Lane</a><br>
        <a href="{{ url_for('charts.make_chart', site='EA8', days=1) }}">Ealing - Horn Lane</a><br>
        <a href="{{ url_for('charts.make_chart', site='GR7', days=1) }}">Greenwich - Blackheath</a><br>
        <a href="{{ url_for('charts.make_chart', site='KC5', days=1) }}">Kensington & Chelsea - Earls Court Rd</a><br>
        <a href="{{ url_for('charts.make_chart', site='KC1', days=1) }}">Kensington & Chelsea - Nth Kensington</a><br>
        <a href="{{ url_for('charts.make_chart', site='LW2', days=1) }}">Lewisham - New Cross</a><br>
        <a href="{{ url_for('charts.make_chart', site='RD0', days=1) }}">Reading - New Town</a><br>
        <a href="{{ url_for('charts.make_chart', site='RI2', days=1) }}">Richmond-upon-Thames - Barnes Wetlands</a><br>
        <a href="{{ url_for('charts.make_chart', site='ST4', days=1) }}">Sutton - Wallington</a><br>
        <a href="{{ url_for('charts.make_chart', site='RI2', days=1) }}">Tower Hamlets - Blackwall</a><br>
        <a href="{{ url_for('charts.make_chart', site='WA9', days=1) }}">Wandsworth - Putney</a><br>
        <a href="{{ url_for('charts.make_chart', site='MY1', days=1) }}">Westminster - Marylebone Road</a><br>
        <a href="{{ url_for('charts.make_chart', site='WM6', days=1) }}">Westminster - Oxford Street</a><br>
    </ul></div><br>
    <div class="col-md-2">
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='BX2', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='BX2', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='BX2', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='BX2', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='BT5', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='BT5', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='BT5', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='BT5', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='BL0', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='BL0', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='BL0', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='BL0', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='CD9', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='CD9', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='CD9', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='CD9', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='CT4', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='CT4', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='CT4', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='CT4', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='CR9', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='CR9', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='CR9', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='CR9', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='EA8', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='EA8', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='EA8', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='EA8', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='GR7', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='GR7', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='GR7', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='GR7', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='KC5', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='KC5', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='KC5', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='KC5', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='KC1', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='KC1', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='KC1', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='KC1', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='LW2', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='LW2', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='LW2', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='LW2', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='RD0', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='RD0', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='RD0', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='RD0', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='RI2', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='RI2', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='RI2', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='RI2', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='ST4', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='ST4', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='ST4', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='ST4', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='TH4', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='TH4', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='TH4', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='TH4', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='WA9', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='WA9', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='WA9', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='WA9', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='MY1', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='MY1', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='MY1', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='MY1', days=7) }}">7 days</option>
        </select><br>
        <select class=box onChange="window.location.href=this.value">
        <option disabled="disabled" selected="selected" value=""></option>
        <option value="{{ url_for('charts.make_chart', site='WM6', days=2) }}">48 hours</option>
        <option value="{{ url_for('charts.make_chart', site='WM6', days=3) }}">72 hours</option>
        <option value="{{ url_for('charts.make_chart', site='WM6', days=5) }}">5 days</option>
        <option value="{{ url_for('charts.make_chart', site='WM6', days=7) }}">7 days</option>
</select>
    </div>
    <div class="col-md-6">
        <h4>Select a map to show site location: </h4>
        <form>
        <select name="mapchange" onchange="updateMap(this.options[this.selectedIndex].value)">
        <option  value="site1">Bexley - Belvedere</option>
        <option  value="site2">Brent - Neasden Lane</option><br>
        <option  value="site3">Camden - Bloomsbury</option>
        <option  value="site4">Camden - Euston Road</option><br>
        <option  value="site5">City of London - Beech Street</option>
        <option  value="site6">Croydon - Park Lane</option><br>
        <option  value="site7">Ealing - Horn Lane</option>
        <option  value="site8">Greenwich - Blackheath</option><br>
        <option  value="site9">Kensington and Chelsea - Earls Court Road</option>
        <option  value="site10">Kensington and Chelsea - North Kensington</option>
        <option  value="site11">Lewisham - New Cross</option><br>
        <option  value="site12">Reading - New Town</option>
        <option  value="site13">Richmond Upon Thames - Barnes Wetlands</option><br>
        <option  value="site14">Sutton - Wallington</option>
        <option  value="site15">Tower Hamlets - Blackwall</option><br>
        <option  value="site16">Wandsworth - Putney</option>
        <option  value="site17">Westminster - Marylebone Road</option><br>
        <option  value="site18">Westminster - Oxford Street</option>
        </select>
        </form>
        <div id="map" style="width:444px; height:444px; display:block;">
        <div id="map_canvas" style="width:444px; height:444px;"></div>
    </div>
</body>
</html>
